<table class="videoList" align="center">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genres</th>
      <th>Director(s)</th>
      <th>Media</th>
      <th>Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of personalCollection">
      <td>{{ v.title }}</td>
      <td>{{ v.year }}</td>
      <td>{{ v.genres }}</td>
      <td>{{ v.directors }}</td>
      <td>{{ mediaTypes[v.media_type_id] }}</td>
      <td class="videoTools">
        <a title="View" href="#"><i class="fa fa-eye"></i></a>
        <a title="Edit" href="#"><i class="fa fa-pencil"></i></a>
        <a title="Remove" href="#"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>