<table class="videoList" align="center">
  <thead>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Genres</th>
    <th>Director(s)</th>
    <th>Media</th>
    <th>User email:</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of videoCollection">
    <td>{{ v.title }}</td>
    <td>{{ v.year }}</td>
    <td>{{ getGenres(v.genres) }}</td>
    <td>{{ v.directors }}</td>
    <td>{{ getMediaTypeName( v.media_type_id )}}</td>
    <td><strong>{{ v.user_email }}</strong></td>
    <td class="videoTools">
      <a title="View" [routerLink]="['/view/', v.id]"><i class="fa fa-eye"></i></a>
    </td>
  </tr>
  </tbody>
</table>