<table>
  <tr>
    <th>Directors</th>
    <th>Title</th>
    <th>Release year</th>
    <th>Theatrical release year</th>
    <th>Run time</th>
    <th>Languages</th>
    <th>Actors</th>
    <th>Studio</th>
    <th>Genres</th>
    <th>Countries</th>
  </tr>
  <tr>
    <td>{{ currentMedia?.directors }}</td>
    <td><strong>{{ currentMedia?.title }}</strong></td>
    <td>{{ currentMedia?.release_date }}</td>
    <td>{{ currentMedia?.theatrical_release_date }}</td>
    <td>{{ currentMedia?.run_time }}</td>
    <td>{{ currentMedia?.languages }}</td>
    <td>{{ currentMedia?.actors }}</td>
    <td>{{ currentMedia?.studio }}</td>
    <td>{{ getGenres(currentMedia?.genres) }}</td>
    <td>{{ getCountries(currentMedia?.countries) }}</td>
  </tr>
</table>

<h4>Media</h4>
<table>
  <tr>
    <th>Year</th>
    <th>Media type</th>
    <th>Condition</th>
    <th>Format</th>
    <th>Media languages</th>
    <th>Subtitles</th>
    <th>Region</th>
    <th>Aspect ratio</th>
    <th>FSK</th>
  </tr>
  <tr>
    <td>{{ currentMedia?.year }}</td>
    <td>{{ getMediaTypeName(currentMedia?.media_type_id) }}</td>
    <td>{{ getMediaConditionName(currentMedia?.condition_id) }}</td>
    <td>{{ currentMedia?.format }}</td>
    <td>{{ currentMedia?.media_languages }}</td>
    <td>{{ currentMedia?.subtitles }}</td>
    <td>{{ currentMedia?.region }}</td>
    <td>{{ currentMedia?.aspect_ratio }}</td>
    <td>{{ currentMedia?.fsk }}</td>
  </tr>
</table>

<h4>Code</h4>

<table>
  <tr>
    <th>EAN</th>
    <th>UPC</th>
    <th>ISBN</th>
    <th>ASIN</th>
  </tr>
  <tr>
    <td>{{ currentMedia?.ean }}</td>
    <td>{{ currentMedia?.upc }}</td>
    <td>{{ currentMedia?.isbn }}</td>
    <td>{{ currentMedia?.asin }}</td>
  </tr>
</table>

<h4>Private</h4>
<div class="row">
  <div class="col-md-6">
    <h5>User e-mail: "<strong> {{ currentMedia?.user_email}}</strong> "</h5>
  </div>
  <div class="col-md-6">
    <textarea name="" id="note" cols="40" rows="3" placeholder="no note" disabled>{{ currentMedia?.note }}</textarea>
  </div>
</div>