<div id="createVideo">
    <form [formGroup]="createVideo">
        <fieldset>
            <legend>Add video to collection</legend>
            <div class="row">

                <!-- Title -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="title">Title*:</label>
                        <input type="text" id="title" formControlName="title" class="form-control">
                    </div>
                </div>

                <!-- Year -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <input type="number" id="year" formControlName="year" min="1900" max="2100" class="form-control">
                    </div>
                </div>

                <!-- Media type -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="mediaType">Media type:</label>
                        <select id="mediaType" class="form-control" formControlName="media_type_id">
                            <option *ngFor="let mt of mediaTypes" value="{{ mt.id }}">{{ mt.name }}</option>
                        </select>
                    </div>
                </div>

                <!-- Condition -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="condition">Condition:</label>
                        <select id="condition" class="form-control" formControlName="condition_id">
                            <option *ngFor="let c of conditions" value="{{ c.id }}">{{ c.name }}</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-6">
                    <p><b>Genres:</b></p>
                    <select2 id="select2Genres"
                             [data]="genresData"
                             [options]="genresOptions"
                    ></select2>
                </div>


            </div>
        </fieldset>
    </form>
</div>